<main class="main">
  <p id="notice"><%= notice %></p>

  <div class="articles">

  </div>
  <h2 class="main-title">ARTICLES</h2>

  <h3 class="sub-title">HATENA</h3>

  <div class="clearfix">
    <% @hatenas.each do |hatena| %>
      <div class="article-box">
        <%= link_to hatena.url do %>
          <%= image_tag "hatena.png", alt: "hatena", class: "image" %>
          <h4 class="title"><%= hatena.title %></h4>
          <p class="desc"><%= hatena.content.html_safe %></p>
        <% end %>
        <div class="budges clearfix">
          <p class="budge"><%= link_to 'Show', article_path(hatena) %></p>
          <p class="budge"><%= link_to 'Edit', edit_article_path(hatena) %></p>
          <p class="budge"><%= link_to 'Destroy', article_path(hatena), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    <% end %>
  </div>

  <h3 class="sub-title">QIITA</h3>

  <div class="clearfix">
    <% @qiitas.each do |qiita| %>
      <div class="article-box">
        <%= link_to qiita.url do %>
          <%= image_tag "qiita.png", alt: "qiita", class: "image" %>
          <h4 class="title"><%= qiita.title %></h4>
          <p class="desc"><%= qiita.content.html_safe %></p>
        <% end %>
        <div class="budges clearfix">
          <p class="budge"><%= link_to 'Show', article_path(qiita) %></p>
          <p class="budge"><%= link_to 'Edit', edit_article_path(qiita) %></p>
          <p class="budge"><%= link_to 'Destroy', article_path(qiita), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    <% end %>
  </div>
</main>
